@import views.html.helper._
@import views.html.components.backButton
@import play.api.mvc.Request
@import play.api.data.Form

@this()
@(todoForm: Form[TodoModel])(implicit request: Request[_], messages: Messages)
@main("Add Item Page") {
    <h1>Add Item</h1>

    <section class="addNewItem">
    @backButton.render()
    @form(action = routes.AddItemController.addItem()) {
        @CSRF.formField
        @helper.inputText(todoForm("title"))
        @helper.inputText(todoForm("description"))
        <input type="submit" value="Add Item">
    }
    </section>

}