@import views.html.helper._
@import views.html.components.backButton
@this()
@(todoForm: Form[TodoModel], id: String)(implicit request: Request[_], messages: Messages)
@main("Edit Page") {
    <h1>Edit Item</h1>
    <section>
        @backButton.render()
        @form(action = routes.EditItemController.postEdit(id)) {
            @CSRF.formField
            @helper.inputText(todoForm("title"))
            @helper.inputText(todoForm("description"))
            <input id="edit-item-button" type="submit" value="Edit Item">
        }
    </section>

}